// Text Styles

.x-large{
   font-size: 4rem;
   line-height: 1.2;
   margin-bottom: 1rem;
}
.large{
   font-size: 3rem;
   line-height: 1.2;
   margin-bottom: 1rem;
}
.lead{
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

//Background
.bg{
    &-primary{
       @include set-background($primary-color);
    }
   
     &-light{
        @include set-background($light-color);
     }
     &-dark{
        @include set-background($dark-color);
     }
     &-danger{
        @include set-background($danger-color);
     }
     &-success{
        @include set-background($success-color);
     }
     &-white{
         @include set-background(#fff);
         border:#ccc 1px solid;
      }
     

}

//Buttons
.btn{
   background: $light-color;
   color: #333;
   padding: 0.4rem 1.3rem;
   cursor: pointer;
   font-size: 1rem;
   margin-right: 0.5rem;

   &.btn-primary{
      @include set-background($primary-color);
      &:hover{
         background: lighten($primary-color, 5%)
      }
   }

   &.btn-light{
      @include set-background($light-color);
      &:hover{
         background: lighten($light-color, 5%)
      }
   }

   &.btn-dark{
      @include set-background($dark-color);
      &:hover{
         background: lighten($dark-color, 5%)
      }
   }

   &.btn-success{
      @include set-background($success-color);
      &:hover{
         background: lighten($success-color, 5%)
      }
   }

   &:hover{
      background: lighten($dark-color,20%);
      color: #fff;
   }
}

.dark-overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.7);
}