@import 'config';
@import 'utilities';
@import 'forms';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: $primary-color;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
//----------Navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $primary-color;
    opacity: 0.9;

    ul{
        display: flex;
    }
    a{
        color:#fff;
        padding: 0.45rem;
        margin: 0 0.25rem;
        &:hover{
            color: $primary-color;
        }
    }

    
}



//----------Landing

.landing{
    position: relative;
    background: url('/dist/img/land.jpg') no-repeat center center/cover;
    height: 100vh;

    &-inner{
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center
    }
}